
.drivercard img {
    width: 70px;
    height: 70px;
    border-radius: 45px;

}
.drivercard {
    display: flex;
    background-color: #455EB5;
    width: 50%;
    height: 300px;
    border-radius: 30px;
    color: white ;
    margin: 30px ; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}